body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: 000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

/**Основа**/

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background-repeat: no-repeat;
  background-position: bottom center;
  border-style: cover;
}

header a {
  color: black;
}

/**Логотип и меню**/

.logo {
  margin-right: 250px;
}

.menu {
  display: flex;
}

.menu li a {
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 5%;
}

.menu li {
  margin-right: 83px;
}

.nav {
  display: flex;
  align-items: center;
  margin: 20px;
}

/**Контент - секция**/

.photo {
  background-image: url(../img/фото1.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  border-style: cover;
  height: 551px;
}

.text {
  padding-top: 421px;
}

.text-bold {
  text-align: center;
  width: 426px;
  height: 45px;
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 5%;
}

.text-smoll {
  text-align: center;
  width: 442px;
  height: 63px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5%;
}

.poragrof {
  text-align: center;
  font-size: 30px;
  margin: 100px;
}

.text-poragrof {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 970px;
  height: 110px;
}

/**Контент - black**/

.black {
  background-color: black;
  height: 800px;
}

/**cards**/

.cards-holder {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card-one {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 470px;
  height: 265px;
  margin-right: 33px;
  border-radius: 50px;
  box-shadow: inset 2px 2px 10px rgb(148, 148, 148);
}

.text-one {
  text-align: center;
  text-align: center;
  margin-right: 56px;
  padding-top: 56px;
  margin-left: 56px;
  font-size: 16px;
  width: 358px;
  height: 128px;
  letter-spacing: 5%;
}
.card-two {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 470px;
  height: 265px;
  border-radius: 50px;
  box-shadow: inset 2px 2px 10px rgb(148, 148, 148);
}

.text-two {
  text-align: center;
  margin-right: 56px;
  padding-top: 56px;
  margin-left: 56px;
  font-size: 16px;
  width: 358px;
  height: 128px;
  letter-spacing: 5%;
}

.cards-back {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card-three {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 470px;
  height: 265px;
  margin-right: 33px;
  border-radius: 50px;
  box-shadow: inset 2px 2px 10px rgb(148, 148, 148);
}

.text-three {
  text-align: center;
  margin-right: 56px;
  padding-top: 56px;
  margin-left: 56px;
  font-size: 16px;
  width: 358px;
  height: 128px;
  letter-spacing: 5%;
}

.card-four {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 470px;
  height: 265px;
  border-radius: 50px;
  box-shadow: inset 2px 2px 10px rgb(148, 148, 148);
}

.text-four {
  text-align: center;
  margin-right: 56px;
  padding-top: 56px;
  margin-left: 56px;
  font-size: 16px;
  width: 358px;
  height: 128px;
  letter-spacing: 5%;
}

/**footer**/

.footer {
  margin: 10px;
}
.end {
  display: flex;
  justify-content: center;
}

.text-end {
  display: flex;
  justify-content: center;
  width: 787px;
  height: 25px;
}
